<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Cê Aceita</title>

  <!--  Importação do Manifesto  -->
  <link rel="manifest" href="../../../manifest.json">
  <meta name="apple-mobile-web-app-title" content="GG">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!--  Importação do Manifesto  -->
  <link rel="icon" type="image/png" href="../../assets/image/icons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="72x72" href="../../assets/image/icons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="../../assets/image/icons/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="../../assets/image/icons/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/image/icons/apple-icon-180x180.png" />

  <!--  Importação das Fontes & Estilos -->
  <link href="../../assets/css/styles.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
  <!-- Barra de Navegação -->
  <nav class="nav">
    <a href="/index.html" class="nav__link nav__link--desabled">
      <i class="material-icons nav__icon">receipt</i>
      <span class="nav__text">Estabelecimentos</span>
    </a>
    <a href="../Products/index.html" class="nav__link nav__link--desabled">
      <i class="material-icons nav__icon">local_dining</i>
      <span class="nav__text">Aceitos</span>
    </a>
    <a href="../Clients/index.html" class="nav__link nav__link--active">
      <i class="material-icons nav__icon">people_alt</i>
      <span class="nav__text font-weight-bold">Lojas</span>
    </a>
    <a href="/description.html" class="nav__link nav__link--desabled">
      <i class="material-icons nav__icon">settings_suggest</i>
      <span class="nav__text">Descrição</span>
    </a>
  </nav>
  <!-- Fim da Barra de Navegação -->

  <!-- Label Aceitos -->
  <div class="card mb-3">
    <div class="card-body">
      <a href="./index.html" class="btn btn-link text-secondary" style="padding: 0;">
        <h6 class="text-left font-weight-bold text-secondary mt-1">
          <img src="/src/assets/image/west_arrow.svg" alt="">
          <small class="font-weight-bold">Voltar</small>
        </h6>
      </a>
      <h4 class="text-center font-weight-bold text-secondary">
        <i class="material-icons nav__icon">person</i>
        Detalhes do Loja
      </h4>
    </div>
  </div>
  <!-- Fim Label Aceitos -->

  <!-- Listagem de Aceitos -->
  <div class="card card-radius m-3">
    <div class="card-body">
      <div class="mt-4">
        <div class="mb-3">
          <h6 class="d-block font-weight-bold mb-2">
            <small ><i class="material-icons nav__icon mt-1 mr-2">face</i></small>
            Nome:
          </h6>
          <p id="clientName"></p>
        </div>
        <div class="mb-3">
          <h6 class="d-block font-weight-bold mb-2">
            <small class="text-success"><i class="material-icons nav__icon mt-1 mr-2">perm_phone_msg</i></small>
            Contato
          </h6>
          <p id="clientPhone"></p>
        </div>
        <div class="mb-3">
          <h6 class="d-block font-weight-bold mb-2">
            <small class="text-danger"><i class="material-icons nav__icon mt-1 mr-2">place</i></small>
            Endereço:
          </h6>
          <p id="clientAddress"></p>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5 mb-3">
        <button type="submit" class="btn btn-info" id="btnEditClient">Editar</button>
        <button type="submit" class="btn btn-danger" id="btnRemoveClient">Excluir</button>
      </div>
    </div>
  </div>
  <!-- Fim da Listagem de Aceitos -->

  <div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modal-default" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="mt-5">
              <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_pwppxjbo.json"
                style="width: 225px; height: 225px;"
                background="rgba(255, 255, 255, 0)"
                speed="1"
                autoplay
              />
            </div>
          </div>
          <div class="mt-5">
            <h4 class="text-center text-success font-weight-bold">Registro removido com sucesso!</h4>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button id="return" type="button" class="btn btn-success" data-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../../assets/js/libs/jquery.min.js"></script>
  <script src="../../assets/js/libs/bootstrap.min.js"></script>
  <script src="../../assets/js/client.js"></script>
</body>

</html>