<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>GG - Gestão Gastrô</title>

  <!--  Importação do Manifesto  -->
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-title" content="GG">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!--  Importação do Manifesto  -->
  <link rel="icon" type="image/png" href="../../assets/image/icons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="72x72" href="../../assets/image/icons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="../../assets/image/icons/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="../../assets/image/icons/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/image/icons/apple-icon-180x180.png" />

  <!--  Importação das Fontes & Estilos -->
  <link href="../../assets/css/styles.css" rel="stylesheet" />
  <link href="../../assets/js/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
  <!-- Barra de Navegação -->
  <nav class="nav">
    <a href="./requisitionForm.html" class="nav__link nav__link--active">
      <i class="material-icons nav__icon">receipt</i>
      <span class="nav__text font-weight-bold">Pedidos</span>
    </a>
    <a href="../Products/index.html" class="nav__link nav__link--desabled">
      <i class="material-icons nav__icon">local_dining</i>
      <span class="nav__text">Produtos</span>
    </a>
    <a href="../Clients/index.html" class="nav__link nav__link--desabled">
      <i class="material-icons nav__icon">people_alt</i>
      <span class="nav__text">Clientes</span>
    </a>
    <a href="/description.html" class="nav__link nav__link--desabled">
      <i class="material-icons nav__icon">settings_suggest</i>
      <span class="nav__text">Descrição</span>
    </a>
  </nav>
  <!-- Fim da Barra de Navegação -->

  <!-- Label Novo Pedido -->
  <div class="card mb-3">
    <div class="card-body">
      <a href="../../../index.html" class="btn btn-link text-secondary" style="padding: 0;">
        <h6 class="text-left font-weight-bold text-secondary mt-1">
          <img src="/src/assets/image/west_arrow.svg" alt="">
          <small class="font-weight-bold">Voltar</small>
        </h6>
      </a>
      <h4 id="label" class="text-center font-weight-bold text-secondary">
        Novo Pedido
      </h4>
    </div>
  </div>
  <!-- Fim da Label Novo Pedido -->

  <!-- Form Novo Pedido -->
  <div class="card card-radius m-3">
    <div class="card-body">
      <form>
        <small class="d-block font-weight-bold mb-2">Cliente:</small>

        <span id="client"></span>

        <select id="clientList" name="client" class="form-control">
          <option selected>Selecione um cliente</option>
        </select>
        <input type="text" name="clientId" id="clientId" class="invisible">
        
        <small class="d-block font-weight-bold mb-2 mt-2">Produto:</small>
        <select required id="productList" class="form-control" multiple data-live-search="true"></select>
        <input type="text" name="products" id="products" class="invisible">

        <small class="d-block mb-2">Data de Entrega:</small>
        <input
          required
          id="delivery"
          name="delivery"
          class="flatpickr datetimepicker form-control flatpickr-input active"
          type="text"
          placeholder="DD-MM-YYYY HH:MM"
          readonly="readonly"
        >
        <input type="text" name="client" id="clientName" class="invisible">

        <div class="d-flex justify-content-center mt-5 mb-3">
          <a href="../../../index.html" class="btn btn-danger">Cancelar</a>
          <button id="btnNewRequisition" type="submit" class="btn btn-success">Concluir</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Fim Form Novo Pedido -->

  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="mt-5">
              <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_pwppxjbo.json"
                style="width: 225px; height: 225px;"
                background="rgba(255, 255, 255, 0)"
                speed="1"
                autoplay
              />
            </div>
          </div>
          <div class="mt-5">
            <h4 class="text-center text-success font-weight-bold">Os dados foram salvos com sucesso!</h4>
          </div>
        </div>
        <div class="modal-footer">
          <button id="return" type="button" class="btn btn-info" data-dismiss="modal">Ver Pedidos</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../../assets/js/libs/jquery.min.js"></script>
  <script src="../../assets/js/libs/bootstrap.bundle.min.js"></script>
  <script src="../../assets/js/bootstrap-select/js/bootstrap-select.js"></script>
  <script src="../../assets/js/bootstrap-select/js/i18n/defaults-pt_BR.js"></script>
  <script src="../../assets/js/libs/datetimepicker.js"></script>
  <script src="../../assets/js/l10n/pt-br.js"></script>
  <script src="../../assets/js/requisition.js"></script>
</body>

</html>